<template>
  <div class='container'>
    Delete File:
    <div><input id="file" type='text' v-model="deleteFile" placeholder="Enter Filename"/></div>
    <div><button class="button" v-on:click="deleteImage()">Delete File</button></div>
    <div id='show'></div> 
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'DeleteComponent',
  data(){
    return {
      imageList: [],
      deleteFile: ''
    }
  },
  methods: {
    getImage: function () {
      var baseURI = 'http://localhost:9000/all';
      axios.get(baseURI).then((result) => {
        this.imageList = result.data
        console.log(this.imageList);
      })
    },
    deleteImage: function(){
        if(this.deleteFile=='')
          document.getElementById('show').innerHTML="<span style='color:red;'>Please enter file name</span>"
        else {
          document.getElementById('show').innerHTML="<span>Please wait...</span>"
          var baseURI = `http://localhost:9000/image/${this.deleteFile}`;
          axios.delete(baseURI).then((res) => {
              console.log(res)
              if(res.data.success){
                window.location.reload();
                console.log(res.data);
                document.getElementById('show').innerHTML=`<span style="color:green;">File '${this.deleteFile}</span>' successfully deleted!`
              }
            }).catch( (err) => {
              console.log(err)
              document.getElementById('show').innerHTML=`<span style="color:red;">Error: ${err.response.data.error}</span>`
          })
        }
     }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
*{
    width: 400px;
}
.container{
    border: 1px solid #acaaaa;
    padding: 15px 0;
    margin-left: 50px;
    border-radius: 15px;
    background-color: #dadada;
}
a {
  color: #42b983;
}
.button {
  padding: 15px;
  width: 100px;
  margin-bottom: 10px;
  background-color: #1b2172;
  color: #ffffff;
}
#file{
  width: 300px;
  height: 40px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 30px;
}
</style>
