<template>
  <div class="body">
  <h1>Images</h1>
  <div class="images">
      <ul v-for="image in allImages" :key="image.id">
          <li >
          <img :src="image.Key">
          </li>
          <span class="name">{{image.ObjectUrl}}</span>
      </ul>
  </div>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex';
export default {
    name: "Images",
    methods:{
       ...mapActions(['fetchImages']),
    },
    computed: mapGetters(['allImages']),
    created(){
        this.fetchImages()
    }
}
</script>

<style>
.images{
    display: flex;
    justify-content: space-around;
}
.name{
    display: flex;
    flex-direction: column;
}
img{
    display: flex;
    
    width: 100%;
    height: 100%;
    padding: 5px;
  
}

img:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

</style>