<template>
    <div class='container'>
        Upload new File:
        <div class='input-container'><input type="file" class='input' @change="addFile($event)"></div>
        <div><button class="button" @click="upload()">Upload</button></div>
        <div id='fileStatus'></div>
    </div>
  
</template>

<script>
import axios from 'axios'
export default {
    name: 'AddComponent',
    data(){
        return {
        data: null,
        file: null, 
        filename: ''
        }
    },
    methods: {
        addFile(event){
            this.data = new FormData();
            this.file = event.target.files[0];
            this.filename = event.target.files[0].name;
            this.data.append('image', this.file);
        },
        upload(){
            if(this.file==null)
                document.getElementById('fileStatus').innerHTML=`<span style="color:red;">Please upload a File</span>`
            else{
                document.getElementById('fileStatus').innerHTML=`<span>Please wait...</span>`;
                let config = {
                    header : {
                        'Content-Type' : 'multipart/form-data'
                    }
                }
                var baseURI = 'http://localhost:9000/addImage';
                axios.post(baseURI, this.data, config).then((res) => {
                    if(res.data.success){
                        window.location.reload();
                        console.log(res.data.success)
                        document.getElementById('fileStatus').innerHTML=`<span style="color:green;">File '${this.filename}</span>' successfully uploaded!`
                    }
                    }).catch( (err) => {
                    console.log(err)
                    document.getElementById('fileStatus').innerHTML=`<span style="color:red;">Error: ${err.response.data.error}</span>`
                    })
                }
        }
    }
}
</script>

<style scoped>

/* .field1{
    margin-left: 650px;
    margin-bottom: 20px;
} */
*{
    width: 400px;
}
.container{
    border: 1px solid #acaaaa;
    padding: 15px 0;
    margin-right: 50px;
    border-radius: 15px;
    background-color: #dadada;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.button {
  padding: 10px;
  width: 100px;
  margin: 10px;
  background-color: #1b2172;
  color: #ffffff;
}
.input-container{
    text-align: center;
}
.input{
  padding-left: 30px;
  width: 300px;
  margin: 20px;
  border: none;
}
</style>