<template>
  <div id="app">
    <HelloWorld msg="Welcome to Image App"/>
    <div class='inline'>
      <span><Upload/></span>
      <span><Delete /></span>
    </div>
    <Images/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import Upload from './components/Upload';
import Images from './components/Images';
import Delete from './components/Delete'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Upload,
    Images,
    Delete
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.inline{
  display: inline-flex;
  margin: 20px;
}
</style>
